<html>
  <head>
    <title>Vamsi Krishna Addepalli</title>
  </head>
  <body>

    <h1><center>Sir C R Reddy College of Engineering</center></h1>
    <h4><p><center>
      Approved by AICTE, New Delhi & Accredited by NAAC<br>
      Permanently affiliated to JNTUK, Kakinada<br>
      Vatluru, Eluru, West Godavari, Andhra Pradesh<br>
    </center></p></h4>

    <h2><p><center>
      Computer Check <br>
      for allowing in Campus <br>
      through Face Detection <br>
      on basis of Shifts <br>      
    </center></p></h2>

    <center>
    <img src="{{ url_for('calc') }}">
    <!-- <h1>{{ url_for('calc') }}</h1> -->
    </center>

    <h4><p><Center>
      <h2>Implemented by:<br></h2>
      Addepalli Vamsi Krishna<br>
      18B85A0401 <br>
      3rd Year <br>
      Department of Electronics and Communication Engineering <br>
      Sir C R Reddy College of Engineering <br>
      a_v_k@ieee.org<br>
      8712328848<br>
    </Center></p></h4>



  </body>
</html>
